

h1 {
    color: purple
}


#container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}



#container div {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.switch {
    position: relative;
    margin: 20px auto;
    display: block;
    width: 80px;
    height: 34px;
    text-align: center;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: 'YES';
    align-content: center;
    height: 26px;
    width: 36px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked + .slider {
background-color: #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(38px);
    -ms-transform: translateX(38px);
    transform: translateX(38px);
    content: 'NO';
    padding-left: 4px;
    padding-right: 4px;
    width: fit-content;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}